@import url("https://fonts.googleapis.com/css2?family=Battambang&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.encabezado {
  height: 120px;
  background-color: #981914;
  margin: 0;
}
.encabezado .encabezado__h1 {
  margin-left: 30px;
  text-align: left;
  line-height: 100px;
  font-family: "Battambang";
  font-size: 50px;
  color: black;
  text-shadow: 0 0 5px #f6f7f8, 0 0 10px #f6f7f8, 0 0 20px #f6f7f8;
}
.encabezado .encabezado__breadcrumb {
  line-height: 100px;
  background-color: #981914;
  padding-left: 0;
  padding-right: 0;
}

@media only screen and (min-width: 768px) {
  #barra-busq {
    margin: 0;
    z-index: 1;
  }
  #barra-busq a {
    color: #f6f7f8;
    background: #981914;
    height: 64px;
    font-family: lato;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.3s;
  }
  #barra-busq a:hover {
    background: #1a1919;
  }
  #barra-busq ul {
    list-style: none;
    display: flex;
    z-index: 1;
  }
  #barra-busq li {
    width: 100%;
    text-align: center;
    position: relative;
  }
  #barra-busq li:hover .submenu > li {
    display: block;
    flex-direction: column;
    top: 0px;
  }

  .submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
  }
  .submenu li {
    display: none;
    position: absolute;
    top: 0px;
    position: relative;
  }
}
@media only screen and (max-width: 767px) {
  #barra-busq {
    z-index: 1;
  }
  #barra-busq a {
    color: #f6f7f8;
    background: #981914;
    height: 64px;
    font-family: lato;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.3s;
  }
  #barra-busq a:hover {
    background: #1a1919;
  }
  #barra-busq ul {
    list-style: none;
    display: flex;
  }
  #barra-busq li {
    width: 100%;
    text-align: center;
    position: relative;
  }

  .submenu {
    display: none;
  }
  .submenu li {
    display: none;
  }
}
.armas .armas__section {
  padding: 0;
  margin: 0;
  height: 1500px;
  width: 100%;
}
.armas .armas__h2 {
  height: 150px;
  line-height: 150px;
  text-align: center;
  color: #f6f7f8;
  background-color: black;
}
.armas .armas__div {
  height: 180px;
  background-color: #981914;
  padding: 0;
  margin: 0;
  font-size: 0;
  border: 2px solid #f6f7f8;
}

.classic {
  background-size: cover;
  background-position: center;
  background-image: url(../Multimedia/armas/classic.jpeg);
}

.shorty {
  background-size: cover;
  background-position: center;
  background-image: url(../Multimedia/armas/shorty.jpeg);
}

.frenzy {
  background-size: cover;
  background-position: center;
  background-image: url(../Multimedia/armas/frenzy.jpeg);
}

.ghost {
  background-size: cover;
  background-position: center;
  background-image: url(../Multimedia/armas/ghost.jpeg);
}

.sheriff {
  background-size: cover;
  background-position: center;
  background-image: url(../Multimedia/armas/sheriff.jpeg);
}

.stinger {
  background-size: cover;
  background-position: center;
  background-image: url(../Multimedia/armas/stinger.jpeg);
}

.spectre {
  background-size: cover;
  background-position: center;
  background-image: url(../Multimedia/armas/spectre.jpeg);
}

.bucky {
  background-size: cover;
  background-position: center;
  background-image: url(../Multimedia/armas/bucky.jpeg);
}

.judge {
  background-size: cover;
  background-position: center;
  background-image: url(../Multimedia/armas/judge.jpeg);
}

.bulldog {
  background-size: cover;
  background-position: center;
  background-image: url(../Multimedia/armas/bulldog.jpeg);
}

.guardian {
  background-size: cover;
  background-position: center;
  background-image: url(../Multimedia/armas/guardian.jpeg);
}

.phantom {
  background-size: cover;
  background-position: center;
  background-image: url(../Multimedia/armas/phantom.jpeg);
}

.vandal {
  background-size: cover;
  background-position: center;
  background-image: url(../Multimedia/armas/vandal.jpeg);
}

.marshal {
  background-size: cover;
  background-position: center;
  background-image: url(../Multimedia/armas/marshal.jpeg);
}

.operator {
  background-size: cover;
  background-position: center;
  background-image: url(../Multimedia/armas/operator.jpeg);
}

.ares {
  background-size: cover;
  background-position: center;
  background-image: url(../Multimedia/armas/ares.jpeg);
}

.odin {
  background-size: cover;
  background-position: center;
  background-image: url(../Multimedia/armas/odin.jpeg);
}

.melee {
  background-size: cover;
  background-position: center;
  background-image: url(../Multimedia/armas/melee.jpeg);
}

/*# sourceMappingURL=armas.css.map */
