*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

@import "SCSSparciales/Header";                     /*HEADER*/

                                                     /*CUERPO*/
.cuerpo{
    width: 100%;
    height: 1200px;
    display: flex;
    flex-direction: row;
    background-color: $rojoClaro;
}
.cuerpo__section--main{
    width: 82%;
    height: 100%;
}
@import "SCSSparciales/menu";
.agente{
    width: 100%;
    height: 300px;
    background-color: khaki;
    display: flex;
    flex-direction: row;
    .agente--nombre{
        width: 50%;
        padding-left: 50px;
        background-color: $rojoClaro;
        font-size: 70px;
        text-align: right;
        padding: 30px 30px 0px 0px;
        color: black;
        font-family: 'Bebas Neue', cursive;
    }
    .agente--descripcion{
        width: 50%;
        padding-left: 50px;
        background-color: $rojoClaro;
        font-size: 18px;
        text-align: left;
        padding: 100px 170px 30px 30px;
        color: black;
        font-family: 'Inconsolata', monospace;
    }
}
.todaInfo{
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .todaInfo__section{
        background-color: $blanco;
        height: 90%;
        width: 90%;
        display: grid;
        grid-template-columns: 20% 30% 15% 35%;
        grid-template-rows: 125px 125px 125px 125px 125px 63px 63px;
    }
    
    .foto{
        background-color: $blanco;
        grid-column: 4/5;
        grid-row: 1/8;
    }
    .hab{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $grisOscuro;
        grid-column: 1/2;
    }
    .estr{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $grisOscuro;
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .ulti{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $grisOscuro;
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .desc{
        background-color: $blanco;
        border-top: solid 1px $grisClaro;
        border-right: solid 1px $grisOscuro;
        text-align: center;
        font-size: 12px;
        font-family: 'Inconsolata', monospace;
        color: black;
        grid-column: 2/3;
    }
    .descEstr{
        background-color: $blanco;
        border-top: solid 1px $grisClaro;
        border-right: solid 1px $grisOscuro;
        text-align: center;
        font-size: 12px;
        font-family: 'Inconsolata', monospace;
        color: black;
        grid-column: 2/3;
        grid-row: 5/6;
    }
    .descUlti{
        background-color: $blanco;
        border-top: solid 1px $grisClaro;
        border-right: solid 1px $grisOscuro;
        text-align: center;
        font-size: 12px;
        font-family: 'Inconsolata', monospace;
        color: black;
        grid-column: 2/3;
        grid-row: 4/5;
    }
    .costeEstr{
        background-color: $grisClaro;
        border-top: solid 1px $grisOscuro;
        border-right: solid 1px $grisOscuro;
        text-align: center;
        line-height: 125px;
        color: $blanco;
        font-size: 20px;
        font-family: 'Inconsolata', monospace;
        grid-column: 3/4;
    }
    .coste{
        background-color: $grisClaro;
        border-top: solid 1px $grisOscuro;
        border-right: solid 1px $grisOscuro;
        text-align: center;
        line-height: 125px;
        color: $blanco;
        font-size: 20px;
        font-family: 'Inconsolata', monospace;
        grid-column: 3/4;
    }
    .puntos{
        background-color: $grisClaro;
        border-top: solid 1px $grisOscuro;
        border-right: solid 1px $grisOscuro;
        text-align: center;
        line-height: 125px;
        color: $blanco;
        font-family: 'Inconsolata', monospace;
        grid-row: 4/5;
        grid-column: 3/4;
    }
    .rad{
        background-color: $blanco;
        border-top: solid 1px $grisClaro;
        text-align: center;
        line-height: 63px;
        color: black;
        font-size: 36px;
        font-family: 'Inconsolata', monospace;
        grid-row: 6/7;
    }
    .pais{
        background-color: $blanco;
        border-top: solid 1px $grisClaro;
        text-align: center;
        line-height: 63px;
        color: black;
        font-size: 36px;
        font-family: 'Inconsolata', monospace;
        grid-column: 1/2;
        grid-row: 7/8;
    }
    .rol{
        background-color: brown;
        grid-column: 2/3;
        grid-row: 6/8;
        border-top: solid 1px $grisClaro;
        display: flex;
        flex-direction: row;
        .logo{
            width: 40%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .texto{
            width: 60%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            line-height: 160px;
            padding: 0;
            font-size: 30px;
            font-family: 'Bebas Neue', cursive;
            padding-right: 25px;
            p{
            margin: 0;
            padding: 0;
            color: $blanco;
            }
        }
    }
    .numero{
        background-color: $blanco;
        border-top: solid 1px $grisClaro;
        border-right: solid 1px $grisClaro;
        text-align: center;
        line-height: 63px;
        color: black;
        font-size: 26px;
        font-family: 'Inconsolata', monospace;
        grid-row: 6/7;
    }
    .raza{
        background-color: $blanco;
        border-top: solid 1px $grisClaro;
        border-right: solid 1px $grisClaro;
        text-align: center;
        line-height: 63px;
        color: black;
        font-size: 36px;
        font-family: 'Inconsolata', monospace;
        grid-row: 7/8;
        grid-column: 3/4;
    }
}