*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

@import "SCSSparciales/Header";                     /*HEADER*/
@import "SCSSparciales/footer";                     /*FOOTER*/


                                                                    /* MAYOR 1023px*/
@media screen and (min-width:1024px) {

                                                         /*CUERPO*/
    .cuerpo{
        width: 100%;
        height: 1100px;
        display: flex;
        flex-direction: row;
        background-color: $rojoClaro;
    }

                                                     /*MAIN*/
    .cuerpo__section--main{
        width: 88%;
        height: 100%;
    }

                                                     /*MAIN EXPLICACION*/
    .main--explicacion{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 350px;
        background-color: $rojoFuerte;
        .main--titulo--explicacion{
            color: black;
            height: 100px;
            margin-top: 2%;
            .main__span{
                margin-left: 15%;
                font-size: 50px;
                width: 40%;
                height: 100%;
                font-family: 'Bebas Neue', cursive;
            }
        }
        .main__p--explicacion{
            color: black;
            width: 100%;
            height: 150px;
            p{
                margin-left: 35%;
                padding-left: 5%;
                padding-right: 10%;
                font-size: 22px;
                font-family: 'Inconsolata', monospace;
                border-left: 1px black dotted;
            }
        }
    }
    
                                                     /*MAIN VALORANT*/
    .main--valorant{
        height: 450px;
        width: 100%;
        background:linear-gradient(145deg, $rojoFuerte, $rojoFuerte 10%, $blanco 10%, $blanco);
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 60% 40%;
        .main--valorant__p{
            padding: 0;
            display: flex;
            align-items: center;
            text-align: center;
            p{
                margin: 0;
                font-family: 'Inconsolata', monospace;
                font-size: 18px;
                padding-top: 30px;
                padding-bottom: 20px;
                margin-left: 60px;
                margin-right: 45px;
                border-bottom: 1px black dotted;
                color: $negro;
            }
        }
        .main--valorant--btn{
            padding: 10px 0px 30px 40px;
            display: flex;
            justify-content: center;
            a{
                width: 40%;
            }
            @import "SCSSparciales/boton1";
        }
        .main--valorant--imagen{
            padding-left: 50px;
            grid-row: 1/3;
            grid-column: 2/3;
            display: flex;
            align-items: center;
            text-align: center;
        }
    }

                                                     /*MAIN LINKS*/
    .main--links{
        height: 300px;
        width: 100%;
        display: flex;
        flex-direction: row;
        border-top: $rojoFuerte 2px double;
        .main--links__div{
            width: 100%;
            height: 100%;
            @for $n from 1 through 3 {
                .main--links--#{$n}{
                    height: 100px;
                    display: flex;
                    align-items: center;
                }
            }
            @import "SCSSparciales/boton2";
        }
    }
    @import "SCSSparciales/menu";
}



                                                                               /* MENOR 1023px MAYOR 768*/
@media screen and (max-width:1023px) and (min-width:768px){

                                                             /*CUERPO*/
    .cuerpo{
        width: 100%;
        height: 1200px;
        display: flex;
        flex-direction: column;
        background-color: $rojoClaro;
    }

                                                     /*MAIN*/
    .cuerpo__section--main{
        width: 100%;
        height: 94%;
    }
    @import "SCSSparciales/menu2";

                                                     /*MAIN EXPLICACION*/
    .main--explicacion{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 350px;
        background-color: $rojoFuerte;
        .main--titulo--explicacion{
            color: black;
            height: 40%;
            margin-top: 2%;
            display: flex;
            justify-content: center;
            align-items: center;
            .main__span{
                margin-top: 10%;
                text-align: center;
                font-size: 50px;
                width: 100%;
                height: 100%;
                font-family: 'Bebas Neue', cursive;
            }
        }
        .main__p--explicacion{
            color: black;
            width: 100%;
            height: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                text-align: center;
                margin: 40px;
                margin-top: 0;
                padding-top: 15px;
                font-size: 22px;
                font-family: 'Inconsolata', monospace;
                border-top: 1px black dotted;
            }
        }
    }
    
                                                     /*MAIN VALORANT*/
    .main--valorant{
        height: 450px;
        width: 100%;
        background:linear-gradient(145deg, $rojoFuerte, $rojoFuerte 10%, $blanco 10%, $blanco);
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 60% 40%;
        .main--valorant__p{
            padding: 0;
            display: flex;
            align-items: center;
            text-align: center;
            p{
                margin: 0;
                font-family: 'Inconsolata', monospace;
                font-size: 18px;
                padding-top: 30px;
                padding-bottom: 20px;
                margin-left: 60px;
                margin-right: 45px;
                border-bottom: 1px black dotted;
                color: $negro;
            }
        }
        .main--valorant--btn{
            padding: 10px 0px 30px 40px;
            display: flex;
            justify-content: center;
            a{
                width: 40%;
            }
            @import "SCSSparciales/boton1";
        }
        .main--valorant--imagen{
            padding-left: 50px;
            grid-row: 1/3;
            grid-column: 2/3;
            display: flex;
            align-items: center;
            text-align: center;
        }
    }

                                                     /*MAIN LINKS*/
    .main--links{
        height: 300px;
        width: 100%;
        display: flex;
        flex-direction: row;
        border-top: $rojoFuerte 2px double;
        .main--links__div{
            width: 100%;
            height: 100%;
            @for $n from 1 through 3 {
                .main--links--#{$n}{
                height: 100px;
                    display: flex;
                    align-items: center;
                }
            }
            @import "SCSSparciales/boton2";
        }
    }
}



                                                                               /* MENOR 767px*/
@media screen and(max-width:767px) and (min-width:501px){

                                                                 /*CUERPO*/
    .cuerpo{
        width: 100%;
        height: 1200px;
        display: flex;
        flex-direction: column;
        background-color: $rojoClaro;
    }

                                                     /*MAIN*/
    .cuerpo__section--main{
        width: 100%;
        height: 94%;
    }

    @import "SCSSparciales/menu2";
                                                     /*MAIN EXPLICACION*/
    .main--explicacion{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 350px;
        background-color: $rojoFuerte;
        .main--titulo--explicacion{
            color: black;
            height: 40%;
            margin-top: 2%;
            display: flex;
            justify-content: center;
            align-items: center;
            .main__span{
                margin-top: 10%;
                text-align: center;
                font-size: 50px;
                width: 100%;
                height: 100%;
                font-family: 'Bebas Neue', cursive;
            }
        }
        .main__p--explicacion{
            color: black;
            width: 100%;
            height: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                text-align: center;
                margin: 40px;
                margin-top: 0;
                padding-top: 15px;
                font-size: 22px;
                font-family: 'Inconsolata', monospace;
                border-top: 1px black dotted;
            }
        }
    }
    
                                                     /*MAIN VALORANT*/
    .main--valorant{
        height: 450px;
        width: 100%;
        background:linear-gradient(145deg, $rojoFuerte, $rojoFuerte 10%, $blanco 10%, $blanco);
        display: flex;
        flex-direction: column;
        .main--valorant__p{
            height: 50%;
            padding: 0;
            display: flex;
            align-items: center;
            text-align: center;
            p{
                margin: 0;
                font-family: 'Inconsolata', monospace;
                font-size: 18px;
                text-align: center;
                margin: 10%;
                margin-bottom: 0;
                padding-bottom: 10%;
                border-bottom: 1px black dotted;
                color: $negro;
            }
        }
        .main--valorant--btn{
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                width: 40%;
                height: 40%
            }
            @import "SCSSparciales/boton1";
        }
        .main--valorant--imagen{
            display: none;
        }
    }

                                                     /*MAIN LINKS*/
    .main--links{
        height: 300px;
        width: 100%;
        display: flex;
        flex-direction: row;
        border-top: $rojoFuerte 2px double;
        .main--links__div{
            width: 100%;
            height: 100%;
            @for $n from 1 through 3 {
                .main--links--#{$n}{
                height: 100px;
                    display: flex;
                    align-items: center;
                }
            }
            @import "SCSSparciales/boton2";
        }
    }
}



                                                                               /* MENOR 500px*/
@media screen and(max-width:500px){

                                                                 /*CUERPO*/
    .cuerpo{
        width: 100%;
        height: 1100px;
        display: flex;
        flex-direction: column;
        background-color: $rojoClaro;
    }

                                                     /*MAIN*/
    .cuerpo__section--main{
        width: 100%;
        height: 94%;
    }

    @import "SCSSparciales/menu2";
                                                     /*MAIN EXPLICACION*/
    .main--explicacion{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 525px;
        background-color: $rojoFuerte;
        .main--titulo--explicacion{
            color: black;
            height: 40%;
            margin-top: 2%;
            display: flex;
            justify-content: center;
            align-items: center;
            .main__span{
                padding-top: 10%;
                text-align: center;
                font-size: 40px;
                width: 100%;
                height: 100%;
                font-family: 'Bebas Neue', cursive;
            }
        }
        .main__p--explicacion{
            color: black;
            width: 100%;
            height: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                text-align: center;
                margin: 40px;
                margin-top: 0;
                padding-top: 15px;
                font-size: 22px;
                font-family: 'Inconsolata', monospace;
                border-top: 1px black dotted;
            }
        }
    }
    
                                                     /*MAIN VALORANT*/
    .main--valorant{
        height: 525px;
        width: 100%;
        background:linear-gradient(145deg, $rojoFuerte, $rojoFuerte 10%, $blanco 10%, $blanco);
        display: flex;
        flex-direction: column;
        .main--valorant__p{
            height: 70%;
            padding: 0;
            display: flex;
            align-items: center;
            text-align: center;
            p{
                margin: 0;
                font-family: 'Inconsolata', monospace;
                font-size: 18px;
                text-align: center;
                margin: 10%;
                margin-bottom: 0;
                padding-bottom: 10%;
                border-bottom: 1px black dotted;
                color: $negro;
            }
        }
        .main--valorant--btn{
            height: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                width: 40%;
                height: 40%
            }
            @import "SCSSparciales/boton1";
        }
        .main--valorant--imagen{
            display: none;
        }
    }

                                                     /*MAIN LINKS*/
    .main--links{
        display: none;
    }
}
