@import "SCSSparciales/headerMenu";
@import "SCSSparciales/mainClasesAgentes";

.agentes{
    display: grid;
    width: 100%;
    height: auto;
    padding-top: 50px;
    grid-template-rows: 500px 500px;
    grid-template-columns: 600px 600px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    background-color: $rojoFuerte;
    .agentes__div{
        background-color: blueviolet;
        height: 450px;
        width: 337px;
        font-size: 0;
        transition: all 0.9s;
    }
    .agentes__div:hover{
        width: 400px;
        height: 520px;
    }
}
.breach{
    background-image: url(../../../Multimedia/breach1.jpeg);
    background-size: cover;
    background-position: center;
}
.kayo{
    background-image: url(../../../Multimedia/kayo1.jpeg);
    background-size: cover;
    background-position: center;
}
.skye{
    background-image: url(../../../Multimedia/skye1.jpeg);
    background-size: cover;
    background-position: center;
}
.sova{
    background-image: url(../../../Multimedia/sova1.jpeg);
    background-size: cover;
    background-position: center;
}