@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Battambang&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.encabezado {
  width: 100%;
  height: 130px;
  background-color: #1b1a1a;
  display: flex;
  flex-direction: row;
}
.encabezado .encabezado--logo {
  height: 100%;
  width: 80%;
  padding-left: 40px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.encabezado .contacto {
  height: 100%;
  width: 20%;
  text-decoration: none;
  color: #f6f7f8;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2c2a2a;
}
.encabezado .contacto a {
  color: #f6f7f8;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.historial {
  width: 100%;
  height: 36px;
  border-bottom: 4px #981914 solid;
  border-top: 4px #981914 solid;
  margin: 0;
  padding-left: 3%;
}

ul.historial--breadcrumb {
  list-style: none;
  background-color: #f6f7f8;
  padding: 0;
  margin: 0;
}

ul.historial--breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.historial--breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/ ";
}

ul.historial--breadcrumb li a {
  color: #2c2a2a;
  text-decoration: none;
}

ul.historial--breadcrumb li a:hover {
  color: #bb3732;
  text-decoration: underline;
}

@media screen and (max-width: 500px) {
  .encabezado {
    width: 100%;
    height: 130px;
    background-color: #1b1a1a;
    display: flex;
    flex-direction: column;
  }
  .encabezado .encabezado--logo {
    height: 90%;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .encabezado .contacto {
    height: 10%;
    width: 100%;
    text-decoration: none;
    color: #f6f7f8;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c2a2a;
  }
  .encabezado .contacto a {
    color: #f6f7f8;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .historial {
    width: 100%;
    height: 36px;
    border-bottom: 4px #981914 solid;
    border-top: 4px #981914 solid;
    margin: 0;
    padding-left: 3%;
  }

  ul.historial--breadcrumb {
    list-style: none;
    background-color: #f6f7f8;
    padding: 0;
    margin: 0;
  }

  ul.historial--breadcrumb li {
    display: inline;
    font-size: 18px;
  }

  ul.historial--breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: "/ ";
  }

  ul.historial--breadcrumb li a {
    color: #2c2a2a;
    text-decoration: none;
  }

  ul.historial--breadcrumb li a:hover {
    color: #bb3732;
    text-decoration: underline;
  }
}
/*HEADER*/
footer {
  background-color: black;
  height: 150px;
  width: 100%;
  border-top: #2c2a2a solid 2px;
  display: flex;
  flex-direction: row;
}
footer .redes {
  width: 30%;
  height: 100%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
}
footer .redes .redes__span {
  grid-row: 1/2;
  grid-column: 1/4;
  color: #f6f7f8;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .redes .redes--twitter {
  grid-row: 2/3;
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .redes .redes--tiktok {
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .redes .redes--youtube {
  grid-row: 2/3;
  grid-column: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .creador {
  width: 40%;
  height: 100%;
  display: grid;
  grid-template-columns: 45% 10% 45%;
  grid-template-rows: 50% 50%;
}
footer .creador .creador--valotipz {
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  justify-content: right;
  align-items: center;
}
footer .creador .creador--x {
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .creador .creador--valorant {
  grid-row: 1/2;
  grid-column: 3/4;
  display: flex;
  justify-content: left;
  align-items: center;
}
footer .creador .creador__span {
  grid-row: 2/3;
  grid-column: 1/4;
  color: #f6f7f8;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .derechos {
  width: 30%;
  display: flex;
  flex-direction: column;
}
footer .derechos .derechos--riot {
  height: 50%;
  width: 100%;
  color: #f6f7f8;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .derechos .derechos--valotipz {
  height: 50%;
  width: 100%;
  color: #f6f7f8;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  footer {
    background-color: black;
    height: 300px;
    width: 100%;
    border-top: #2c2a2a solid 2px;
    display: flex;
    flex-direction: column;
  }
  footer .redes {
    width: 100%;
    height: 30%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
  }
  footer .redes .redes__span {
    grid-row: 1/2;
    grid-column: 1/4;
    color: #f6f7f8;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .redes .redes--twitter {
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .redes .redes--tiktok {
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .redes .redes--youtube {
    grid-row: 2/3;
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .creador {
    width: 100%;
    height: 40%;
    display: grid;
    grid-template-columns: 45% 10% 45%;
    grid-template-rows: 50% 50%;
  }
  footer .creador .creador--valotipz {
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  footer .creador .creador--x {
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .creador .creador--valorant {
    grid-row: 1/2;
    grid-column: 3/4;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  footer .creador .creador__span {
    grid-row: 2/3;
    grid-column: 1/4;
    color: #f6f7f8;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .derechos {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
  }
  footer .derechos .derechos--riot {
    height: 50%;
    width: 100%;
    color: #f6f7f8;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .derechos .derechos--valotipz {
    height: 50%;
    width: 100%;
    color: #f6f7f8;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/*FOOTER*/
.cuerpo {
  /*CUERPO*/
  width: 100%;
  height: 1500px;
  display: flex;
  flex-direction: column;
  background-color: #bb3732;
}

.menu {
  display: none;
}

.cuerpo__section--menu {
  z-index: 1;
  width: 100%;
  height: 6%;
  background-color: black;
}

.menu2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.button-48 {
  appearance: none;
  background-color: #bb3732;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1), background-color 100ms cubic-bezier(0.694, 0, 0.335, 1), color 100ms cubic-bezier(0.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut 0.5s step-end forwards;
  backface-visibility: hidden;
  background-color: #494747;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #FFFFFF;
}

.button-48 span {
  z-index: 1;
  position: relative;
}

a {
  width: 25%;
  height: 100%;
}

.button-48 {
  width: 100%;
  height: 100%;
  background-color: black;
  color: #f6f7f8;
}

@media screen and (max-width: 449px) {
  .menu {
    display: none;
  }

  .cuerpo__section--menu {
    z-index: 1;
    width: 100%;
    height: 6%;
    background-color: black;
  }

  .menu2 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }

  .button-48 {
    appearance: none;
    background-color: #bb3732;
    border-width: 0;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: Clarkson, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1em;
    margin: 0;
    opacity: 1;
    outline: 0;
    padding: 1.5em 2.2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1), background-color 100ms cubic-bezier(0.694, 0, 0.335, 1), color 100ms cubic-bezier(0.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
  }

  .button-48:before {
    animation: opacityFallbackOut 0.5s step-end forwards;
    backface-visibility: hidden;
    background-color: #494747;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    width: 100%;
  }

  .button-48:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  }

  .button-48:after {
    background-color: #FFFFFF;
  }

  .button-48 span {
    z-index: 1;
    position: relative;
  }

  a {
    width: 100%;
    height: 100%;
  }

  .button-48 {
    width: 100%;
    height: 100%;
    background-color: black;
    color: #f6f7f8;
  }
}
/*MENU*/
@media screen and (min-width: 768px) {
  /*MIN 767px*/
  .contacto {
    height: 94%;
    width: 100%;
    background-color: blanchedalmond;
    display: grid;
    grid-template-columns: 40% 35% 25%;
    grid-template-rows: 60% 40%;
  }

  .radial {
    /*OPCIONES (RADIAL)*/
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .radial .radial__titulo {
    width: 100%;
    height: 100%;
    padding-top: 150px;
    background-color: #f6f7f8;
    border: 3px solid #981914;
  }
  .radial .radial__titulo section {
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .radial .radial__titulo .radial__div {
    width: 100%;
    height: 80%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .radial .radial__titulo .radial__div .radial__form {
    font-size: 25px;
    color: black;
  }
  .radial .radial__titulo .radial__div .radial__form input[type=radio] {
    display: none;
  }
  .radial .radial__titulo .radial__div .radial__form label {
    display: block;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .radial .radial__titulo .radial__div .radial__form label span {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px 10px 10px;
    border-radius: 31px;
    transition: 0.25s ease;
  }
  .radial .radial__titulo .radial__div .radial__form label span:hover,
.radial .radial__titulo .radial__div .radial__form input[type=radio]:checked + span {
    background-color: #bb3732;
    color: #1b1a1a;
  }
  .radial .radial__titulo .radial__div .radial__form label span:before {
    content: "";
    background-color: #f6f7f8;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 10px;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 2px #981914;
  }
  .radial .radial__titulo .radial__div .radial__form input[type=radio]:checked + span:before {
    box-shadow: inset 0 0 0 10px #981914;
  }

  .contacto--redes {
    /*REDES*/
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    background-color: #981914;
  }
  .contacto--redes .contacto--redes__span {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contacto--redes .contacto--redes__span span {
    font-size: 25px;
    color: #f6f7f8;
    text-align: center;
  }
  .contacto--redes .contacto--redes--link {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contacto--redes .contacto--redes--mail {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f6f7f8;
    font-size: 20px;
  }

  .contacto--usuario {
    /*USUARIO*/
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: #981914;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contacto--usuario .group {
    /*ANIMACION CONTACTO*/
    position: relative;
    margin-bottom: 45px;
    /* ANIMATIONS ================ */
  }
  .contacto--usuario .group .usuario {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #494747;
    background-color: #f6f7f8;
    height: 60px;
  }
  .contacto--usuario .group .usuario:focus {
    outline: none;
  }
  .contacto--usuario .group .usser {
    color: black;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  .contacto--usuario .group .usuario:focus ~ .usser, .contacto--usuario .group input:valid ~ .usser {
    top: -20px;
    font-size: 14px;
    color: #1b1a1a;
  }
  .contacto--usuario .group .bar {
    position: relative;
    display: block;
    width: 300px;
  }
  .contacto--usuario .group .bar:before, .contacto--usuario .group .bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #f6f7f8;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  .contacto--usuario .group .bar:before {
    left: 50%;
  }
  .contacto--usuario .group .bar:after {
    right: 50%;
  }
  .contacto--usuario .group .usuario:focus ~ .bar:before, .contacto--usuario .group .usuario:focus ~ .bar:after {
    width: 50%;
  }
  .contacto--usuario .group .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }
  .contacto--usuario .group .usuario:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
  }
  @-webkit-keyframes inputHighlighter {
    from {
      background: #1b1a1a;
    }
    to {
      width: 0;
      background: transparent;
    }
  }
  @-moz-keyframes inputHighlighter {
    from {
      background: #1b1a1a;
    }
    to {
      width: 0;
      background: transparent;
    }
  }
  @keyframes inputHighlighter {
    from {
      background: #1b1a1a;
    }
    to {
      width: 0;
      background: transparent;
    }
  }

  .contacto--mensaje {
    /*MENSAJE*/
    grid-column: 2/3;
    grid-row: 2/3;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #981914;
  }
  .contacto--mensaje span {
    text-align: center;
    font-size: 35px;
    height: 20%;
    color: #1b1a1a;
  }
  .contacto--mensaje .mensaje {
    height: 80%;
    border-radius: 10px;
    border-color: #bb3732;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #f6f7f8;
  }
  .contacto--mensaje textarea:focus, .contacto--mensaje .mensaje:focus, .contacto--mensaje .mensaje[type]:focus {
    border-color: #981914;
    box-shadow: 0 1px 2px #ff4454 inset, 0 0 8px #bb3732;
    outline: 0 none;
    background-color: white;
  }

  .finalizar {
    grid-column: 3/4;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    /*ANIMACION FINALIZAR*/
  }
  .finalizar .finalizar__div {
    width: 100%;
    height: 100%;
    background-color: #f6f7f8;
    border: 3px solid #981914;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .finalizar .finalizar__div .finalizar__div__boton {
    /*FIN (ENV O ELIM)*/
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .finalizar .btn {
    position: relative;
    padding: 1em 1.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    margin: 1em 0.8em;
  }
  .finalizar .boton {
    color: black;
  }
  .finalizar .boton::after, .finalizar .boton::before {
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
  }
  .finalizar .boton::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #981914;
    border-right-color: #981914;
  }
  .finalizar .boton::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #bb3732;
    border-left-color: #bb3732;
  }
  .finalizar .boton:hover:after, .finalizar .boton:hover:before {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 767px) {
  /*MAX 767px*/
  .contacto {
    height: 94%;
    width: 100%;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
  }

  .radial {
    /*OPCIONES (RADIAL)*/
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .radial .radial__titulo {
    width: 100%;
    height: 100%;
    background-color: #f6f7f8;
    border: 3px solid #981914;
  }
  .radial .radial__titulo section {
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .radial .radial__titulo .radial__div {
    width: 100%;
    height: 80%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .radial .radial__titulo .radial__div .radial__form {
    font-size: 25px;
    color: black;
  }
  .radial .radial__titulo .radial__div .radial__form input[type=radio] {
    display: none;
  }
  .radial .radial__titulo .radial__div .radial__form label {
    display: block;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .radial .radial__titulo .radial__div .radial__form label span {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px 10px 10px;
    border-radius: 31px;
    transition: 0.25s ease;
  }
  .radial .radial__titulo .radial__div .radial__form label span:hover,
.radial .radial__titulo .radial__div .radial__form input[type=radio]:checked + span {
    background-color: #bb3732;
    color: #1b1a1a;
  }
  .radial .radial__titulo .radial__div .radial__form label span:before {
    content: "";
    background-color: #f6f7f8;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 10px;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 2px #981914;
  }
  .radial .radial__titulo .radial__div .radial__form input[type=radio]:checked + span:before {
    box-shadow: inset 0 0 0 10px #981914;
  }

  .contacto--redes {
    /*REDES*/
    display: none;
  }

  .contacto--usuario {
    /*USUARIO*/
    width: 100%;
    height: 30%;
    background-color: #981914;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contacto--usuario .group {
    /*ANIMACION CONTACTO*/
    position: relative;
    margin-bottom: 45px;
    /* ANIMATIONS ================ */
  }
  .contacto--usuario .group .usuario {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #494747;
    background-color: #f6f7f8;
    height: 60px;
  }
  .contacto--usuario .group .usuario:focus {
    outline: none;
  }
  .contacto--usuario .group .usser {
    color: black;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  .contacto--usuario .group .usuario:focus ~ .usser, .contacto--usuario .group input:valid ~ .usser {
    top: -20px;
    font-size: 14px;
    color: #1b1a1a;
  }
  .contacto--usuario .group .bar {
    position: relative;
    display: block;
    width: 300px;
  }
  .contacto--usuario .group .bar:before, .contacto--usuario .group .bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #f6f7f8;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  .contacto--usuario .group .bar:before {
    left: 50%;
  }
  .contacto--usuario .group .bar:after {
    right: 50%;
  }
  .contacto--usuario .group .usuario:focus ~ .bar:before, .contacto--usuario .group .usuario:focus ~ .bar:after {
    width: 50%;
  }
  .contacto--usuario .group .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }
  .contacto--usuario .group .usuario:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
  }
  @-webkit-keyframes inputHighlighter {
    from {
      background: #1b1a1a;
    }
    to {
      width: 0;
      background: transparent;
    }
  }
  @-moz-keyframes inputHighlighter {
    from {
      background: #1b1a1a;
    }
    to {
      width: 0;
      background: transparent;
    }
  }
  @keyframes inputHighlighter {
    from {
      background: #1b1a1a;
    }
    to {
      width: 0;
      background: transparent;
    }
  }

  .contacto--mensaje {
    /*MENSAJE*/
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #981914;
  }
  .contacto--mensaje span {
    text-align: center;
    font-size: 35px;
    height: 20%;
    color: #1b1a1a;
  }
  .contacto--mensaje .mensaje {
    height: 80%;
    border-radius: 10px;
    border-color: #bb3732;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #f6f7f8;
  }
  .contacto--mensaje textarea:focus, .contacto--mensaje .mensaje:focus, .contacto--mensaje .mensaje[type]:focus {
    border-color: #981914;
    box-shadow: 0 1px 2px #ff4454 inset, 0 0 8px #bb3732;
    outline: 0 none;
    background-color: white;
  }

  .finalizar {
    grid-column: 3/4;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    /*ANIMACION FINALIZAR*/
  }
  .finalizar .finalizar__div {
    width: 100%;
    height: 100%;
    background-color: #f6f7f8;
    border: 3px solid #981914;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .finalizar .finalizar__div .finalizar__div__boton {
    /*FIN (ENV O ELIM)*/
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .finalizar .btn {
    position: relative;
    padding: 1em 1.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    margin: 1em 0.8em;
  }
  .finalizar .boton {
    color: black;
  }
  .finalizar .boton::after, .finalizar .boton::before {
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
  }
  .finalizar .boton::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #981914;
    border-right-color: #981914;
  }
  .finalizar .boton::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #bb3732;
    border-left-color: #bb3732;
  }
  .finalizar .boton:hover:after, .finalizar .boton:hover:before {
    width: 100%;
    height: 100%;
  }
}

/*# sourceMappingURL=contacto.css.map */
