@media only screen and (min-width: 700px){
    .fondoHeader{
        background-image:url(../Multimedia/fondoHeader600.png);
        height: 600px;
        width: 100%;
        background-size: cover;
        background-position: center;
    }
}
@media only screen and (max-width: 699px){
    .fondoHeader{
        background-image:url(../Multimedia/fondoHeader350.jpg);
        height: 350px;
        width: 100%;
        background-size: cover;
        background-position: center;
    }
}
@media only screen and (max-width: 576px){
    .fondoHeader{
        display: none;
    }
}