@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap');
body{
    background-color: $blanco;
}
.carrusel{
    background-color: $rojoClaro;
    width: 100%;
    justify-content: center;
    align-content: center;
    border-bottom: 10px $rojoClaro solid;
    border-top: 1px $blanco solid;
    z-index: 3;
    .carousel-inner img{
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
    }
    .carousel-indicators{
        margin-bottom: 0;
        z-index: 1;
    }
    .carousel-indicators li{
        height: 3px;
        width: 70px;
        border-radius: 11px;
    }
    .carousel-caption{
        z-index: 1;
        padding: 0;
        .carrusel__h2{
            z-index: 1;
            margin: 0;
            color: $blanco;
            font-size: 20px;
            text-shadow: 1px 1px 2px black, 0 0 1em $rojoFuerte, 0 0 2em $rojoFuerte, 0 0 0.2em $rojoFuerte;
        }
        .carrusel__p{
            z-index: 1;
            font-size: 15;
            margin: 0;
            color: black;
            text-shadow:
                0 0 5px #fff,
                0 0 10px #fff,
                0 0 20px #fff,
                0 0 40px $rojoClaro,
                0 0 80px $rojoClaro,
                0 0 90px $rojoClaro,
                0 0 100px $rojoClaro,
                0 0 150px $rojoClaro;
            }
    }
}
.expl{
    width: 100%;
    height: 300px;
    background-color: $rojoFuerte;
    display: flex;
    justify-content: center;
    flex-direction: row;
    .expl--redes{
        width: 10%;
        background-color: $blanco;
        height: 200px;
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        border-bottom: 10px $rojoClaro solid;
        .red{
            width: 100%;
            height: 33%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .expl__p{
        width: 80%;
        height: 100%;
        background-color: $rojoClaro;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-size: 35px;
        color: $blanco;
    }
}
.links{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $rojoFuerte;
    padding-top: 40px;
}
@for $div from 1 through 3{
    .div#{$div}{
        border: 3px $rojoFuerte solid;
        display: flex;
        flex-direction: row;
        width: 90%;
        height: 500px;
        margin: 20px;
        border-radius: 100px;
        background-position: center;
        background-size: cover;
    }
}
@each $div in izq,der {
    .#{$div}{
        background-image: url(../../Multimedia/#{$div}.svg);
    }
}
.mensaje{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 25px;
    font-family: 'Lora', serif;
    color: black;
    text-shadow: 0 0 2px $blanco, 0 0 4px $blanco;
}
.boton{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    .btn {
        appearance: none;
        border-radius: 15px;
        box-sizing: border-box;
        cursor: pointer;
        display: inline-block;
        font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-size: 16px;
        font-weight: 600;
        line-height: normal;
        margin: 0;
        min-height: 60px;
        min-width: 0;
        outline: none;
        padding: 16px 24px;
        text-align: center;
        text-decoration: none;
        transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: 70%;
        will-change: transform;
    }  
    .btn:disabled {
        pointer-events: none;
    }  
    .btn:hover {
        box-shadow: $rosita 0 8px 15px;
        transform: translateY(-2px);
    }      
    .btn:active {
        box-shadow: none;
        transform: translateY(0);
    }
}
$boton1: (
    valorant:$rojoFuerte,
    agentes:$blanco,
    historia:$rojoFuerte
);
$boton2:(
    valorant:$blanco,
    agentes:$rojoFuerte,
    historia:$blanco
);
@each $link,$color in $boton1 {
    .boton--#{$link}{
        background-color: $color;
    }
    .boton--#{$link}:hover{
        border: 2px solid $rojoFuerte;
        color: $color;
    }
}
@each $link,$color in $boton2 {
    .boton--#{$link}{
        border: 2px solid $color;
        color: $color;
    }
    .boton--#{$link}:hover{
        background-color: $color;
    }
}
.imagen{
    width: 40%;
}
@each $image in 1,2,3 {
    .image#{$image}{
        background-image: url(../../Multimedia/imagenIndex#{$image}.png);
        background-position: center;
        background-size: cover;
    }
}

