@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Battambang&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.encabezado {
  width: 100%;
  height: 130px;
  background-color: #1b1a1a;
  display: flex;
  flex-direction: row;
}

.encabezado__span {
  color: #f6f7f8;
  height: 100%;
  width: 70%;
  line-height: 130px;
  padding-left: 50px;
  font-size: 30px;
}

.encabezado--logo {
  height: 80%;
  width: 15%;
  text-align: center;
  border: #ff4454 1px solid;
  margin: 5px;
}

.historial {
  width: 100%;
  height: 36px;
  border-bottom: 4px #981914 solid;
  border-top: 4px #981914 solid;
  margin: 0;
  padding-left: 3%;
}

ul.historial--breadcrumb {
  list-style: none;
  background-color: #f6f7f8;
  padding: 0;
  margin: 0;
}

ul.historial--breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.historial--breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/ ";
}

ul.historial--breadcrumb li a {
  color: #2c2a2a;
  text-decoration: none;
}

ul.historial--breadcrumb li a:hover {
  color: #bb3732;
  text-decoration: underline;
}

/*HEADER*/
/*CUERPO*/
.cuerpo {
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: row;
  background-color: #bb3732;
}

.cuerpo__section--main {
  width: 82%;
  height: 100%;
}

/*MENU*/
.cuerpo__section--menu {
  z-index: 1;
  width: 18%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  align-items: center;
  padding-top: 30px;
  border-right: black solid 1px;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.menu {
  overflow: hidden;
  align-items: center;
  width: 80%;
}

.simple--item {
  width: 100%;
  color: #f6f7f8;
  overflow: hidden;
  border-top: #2c2a2a 1px solid;
}
.simple--item-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: black;
  font-weight: bold;
  cursor: pointer;
  margin: 0;
}
.simple--item-label:hover {
  background: #2c2a2a;
}
.simple--item a {
  color: #f6f7f8;
  text-decoration: none;
}

.item {
  width: 100%;
  color: #f6f7f8;
  overflow: hidden;
  border-top: #2c2a2a 1px solid;
}
.item-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: black;
  font-weight: bold;
  cursor: pointer;
  margin: 0;
}
.item-label:hover {
  background: #2c2a2a;
}
.item-label::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.25s;
}
.item-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c2a2a;
  background: #494747;
  transition: all 0.25s;
}
.item-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c2a2a;
  cursor: pointer;
}
.item-close:hover {
  background: #2c2a2a;
}

input:checked + .item-label {
  background: #2c2a2a;
}
input:checked + .item-label::after {
  transform: rotate(90deg);
}
input:checked ~ .item-content {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 12px;
}
input:checked ~ .item-content a {
  width: 100%;
  height: 30px;
  color: #f6f7f8;
  text-decoration: none;
}
input:checked ~ .item-content a:hover {
  color: #bb3732;
}

.agente {
  width: 100%;
  height: 300px;
  background-color: khaki;
  display: flex;
  flex-direction: row;
}
.agente .agente--nombre {
  width: 50%;
  padding-left: 50px;
  background-color: #bb3732;
  font-size: 70px;
  text-align: right;
  padding: 30px 30px 0px 0px;
  color: black;
  font-family: "Bebas Neue", cursive;
}
.agente .agente--descripcion {
  width: 50%;
  padding-left: 50px;
  background-color: #bb3732;
  font-size: 18px;
  text-align: left;
  padding: 100px 170px 30px 30px;
  color: black;
  font-family: "Inconsolata", monospace;
}

.todaInfo {
  height: 700px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todaInfo .todaInfo__section {
  background-color: #f6f7f8;
  height: 90%;
  width: 90%;
  display: grid;
  grid-template-columns: 20% 30% 15% 35%;
  grid-template-rows: 20% 20% 20% 20% 10% 10%;
}
.todaInfo .foto {
  background-color: #f6f7f8;
  grid-column: 4/5;
  grid-row: 1/7;
}
.todaInfo .hab {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2c2a2a;
}
.todaInfo .desc {
  background-color: #f6f7f8;
  border-top: solid 1px #494747;
  border-right: solid 1px #2c2a2a;
  text-align: center;
  font-size: 12px;
  font-family: "Inconsolata", monospace;
  color: black;
}
.todaInfo .coste {
  background-color: #494747;
  border-top: solid 1px #2c2a2a;
  border-right: solid 1px #2c2a2a;
  text-align: center;
  line-height: 125px;
  color: #f6f7f8;
  font-size: 20px;
  font-family: "Inconsolata", monospace;
}
.todaInfo .puntos {
  background-color: #494747;
  border-top: solid 1px #2c2a2a;
  border-right: solid 1px #2c2a2a;
  text-align: center;
  line-height: 125px;
  color: #f6f7f8;
  font-family: "Inconsolata", monospace;
}
.todaInfo .rad {
  background-color: #f6f7f8;
  border-top: solid 1px #494747;
  text-align: center;
  line-height: 63px;
  color: black;
  font-size: 36px;
  font-family: "Inconsolata", monospace;
}
.todaInfo .pais {
  background-color: #f6f7f8;
  border-top: solid 1px #494747;
  text-align: center;
  line-height: 63px;
  color: black;
  font-size: 36px;
  font-family: "Inconsolata", monospace;
}
.todaInfo .rol {
  background-color: brown;
  grid-column: 2/3;
  grid-row: 5/7;
  border-top: solid 1px #494747;
  display: flex;
  flex-direction: row;
}
.todaInfo .rol .logo {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todaInfo .rol .texto {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 160px;
  padding: 0;
  font-size: 30px;
  font-family: "Bebas Neue", cursive;
  padding-right: 25px;
}
.todaInfo .rol .texto p {
  margin: 0;
  padding: 0;
  color: #f6f7f8;
}
.todaInfo .numero {
  background-color: #f6f7f8;
  border-top: solid 1px #494747;
  border-right: solid 1px #494747;
  text-align: center;
  line-height: 63px;
  color: black;
  font-size: 26px;
  font-family: "Inconsolata", monospace;
}
.todaInfo .raza {
  background-color: #f6f7f8;
  border-top: solid 1px #494747;
  border-right: solid 1px #494747;
  text-align: center;
  line-height: 63px;
  color: black;
  font-size: 36px;
  font-family: "Inconsolata", monospace;
}

/*# sourceMappingURL=styleAgents.css.map */
